.title {
    position: absolute;
    
    font-family: 'Suwannaphum';
    font-style: normal;
    font-weight: bold;
    left: 2%;
    font-size: 30px;
    line-height: 36px;
    
    color: #000000;
}

.links {
    display: in-line;
    padding-top: 5%;
    padding-left: 25%;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}