<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
    <meta charset="utf-8" />
    <title>Quantum Degrees of Separation</title>
  </head>
  {% endblock %}
  {% block body %}
  <body>
    <body style="background-color:F9FFFF;">

      <h1 class="title"> Quantum Degrees of Separation </h1>
  
      <div id="root"></div>
      <div id="wrapper">
      <form action="#" method="post">
        <div class="links">
          <label>
            Source:
            <input type="text" name="src-link" />
          </label>
  
          <label>
            Destination:
            <input type="text" name="dst-link" />
          </label>
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>

    <img src="{{url_for('static', filename='graph_output.png')}}">

    <div class="float-container"></div>

    <div class="float-child">
      <h1> Djikstra Time: {{ time_d }} ns </h1>
    </div>

    <div class="float-child">
      <h1> Quantum Random Walk Time: {{ time_q }} ns</h1>
    </div>
  </body>
  {% endblock %}
</html>